<h3>Example 2. Logistics Supply Chain</h3>
<p>
  A logistics company has a supply chain consisting of three stages: supplier, warehouse and distribution. If any link fails, the order does
  not reach the customer. The probabilities of failure for each stage are:
</p>
<ul>
  <li>Supplier: 3%</li>
  <li>Warehouse: 5%</li>
  <li>Distribution: 2%</li>
</ul>
<p>
  What is the probability that an order will reach the customer successfully? What is the probability that an order will fail due to a
  supplier issue, given that it failed?
</p>

<img src="assets/screenshots/binomial/binomial-example2-landing-diagram.png" alt="Binomial example 2 landing diagram" />
<p></p>
<a class="example-button" routerLink="/binomial" [queryParams]="{ example: 'binomial-example2-landing' }" data-cy="open-example-binomial-2">
  Open this example in the model →
</a>
